@charset "utf-8";
/* CSS Document */

body { 
   background-color:white ;
   overflow-x: hidden ;
   margin-left:2;
   margin-top:2;
   
}

.general {
   font-weight:50 ; 
   color:black ; 
   font-family: "Times New Roman", Times, serif; 
   font-size:medium;
}

.type1 {
   color:red ; 
   font-weight:200 ; 
   font-size:50px ;
}


#sideBar1 {
     width:247.5px ;
	 height:110px;
	 font-size:12px ;
	 box-shadow: 1px 1px 10px black;
	 border-radius:20px;
}

#sideBar1_3_1 {
	height: 40px ; 
    background-color: #900 ; 
	color : white ; 
	border-top-right-radius:20px ; 
	border-top-left-radius:20px;
	text-align:center; 
	font-weight:900;
	line-height:3.3em ;
}

#sideBar1_3_2 {
	width:247px ;
	height:70px;
    background-color:white;
	position:relative;
	top:-12px;
	line-height:2em;
	  border-bottom-right-radius:20px ; 
	border-bottom-left-radius:20px;
}
#font{
	text-align:center ; 
	color:#00F ;
	position:relative;
	top:12px;
}